@import "variables";
@import "mixin";
.main {
  @include desktop() {
    display: flex;
    flex-direction: row-reverse;
    padding: 10rem 13rem;
  }
  &__description {
    display: flex;
    flex-direction: column;
  }
  &__content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    &-title {
      color: $almost-black;
      font-size: 3.5rem;
      margin-bottom: 1.5rem;
      font-weight: $fw-700;
      @include desktop() {
        text-align: left;
        font-size: 7.3rem;
        margin-bottom: 4rem;
      }
    }
    &-description {
      font-size: 1.6rem;
      color: $medium-gray;
      margin-bottom: 1.8rem;
      line-height: 1.6;
      @include desktop() {
        text-align: left;
        font-size: 2.1rem;
        margin-bottom: 5rem;
      }
    }
    &-btn {
      font-size: 1.6rem;
      font-weight: $fw-700;
      border: 0;
      background-color: $almost-black;
      color: $almost-white;
      padding: 1.35rem 2.5rem;
      border-radius: 15px;
      cursor: pointer;
      margin-bottom: 2rem;
      transition: all 0.3s ease-in-out;
      @include desktop() {
        align-self: flex-start;
        font-size: 2rem;
      }
      &:hover {
        color: $almost-white;
        opacity: 0.5;
      }
    }
  }
  &__clients {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    @include desktop() {
      justify-content: flex-start;
      padding: 2rem;
      gap: 4rem;
      margin-top: 7rem;
    }
    img {
      object-fit: cover;
      width: 7.5rem;
      @include desktop() {
        width: initial;
      }
    }
  }
}
