$almost-white: hsl(0, 0%, 98%);
$almost-black: rgb(20, 20, 20);
$overlay: rgba(20, 20, 20, 0.65);
$medium-gray: hsl(0, 0%, 41%);
$default-font-size: 1.8rem;
$font-family: "sans-serif";
$fw-500: 500;
$fw-700: 700;
